h1{
    color: aqua;
}
ul.li{
    color: dodgerblue;
}
li{
    color: darkorange;
    background-color: darkmagenta;
}
#fruits-col{
    color: darkgreen;
}
.india-pla{
    color: yellow;
}
.important-fruits{
    color: blueviolet;
}